@font-face {
  font-family: "iconfont"; /* Project id 2964460 */
  src: url('iconfont.woff2?t=1641543715411') format('woff2'),
       url('iconfont.woff?t=1641543715411') format('woff'),
       url('iconfont.ttf?t=1641543715411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhangguanli:before {
  content: "\e652";
}

.icon-zhongzhi:before {
  content: "\e6a8";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-shanchu1:before {
  content: "\e8c1";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-shenhetongguo:before {
  content: "\e604";
}

.icon-tongzhi:before {
  content: "\e60b";
}

.icon-mima:before {
  content: "\e621";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-xingzhuang-yunduo:before {
  content: "\e639";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e601";
}

.icon-xiaohuifu:before {
  content: "\e6d3";
}

.icon-icon-test:before {
  content: "\e661";
}

.icon-user__easyico:before {
  content: "\e602";
}

.icon-biaoqian:before {
  content: "\e641";
}

.icon-yonghutouxiang:before {
  content: "\e606";
}

.icon-chuangjianshijian:before {
  content: "\e64c";
}

.icon-touxiang5:before {
  content: "\e632";
}

